################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interface/MySql
/.vs/
/PandoraStrategy/x64/
/PandoraTrade/x64/
/x64/Debug/
\x64\Debug\
/PandoraTrade/his2025.db
/PandoraTrade/mydata.db
/PandoraStrategy/Utils.hpp
/x64/Debug/PandoraTrader.pdb
/x64/Debug/Trade/1/QueryRsp.con
/x64/Debug/Trade/1/DialogRsp.con
/PandoraTrade/x64/Debug/PandoraTrader.log
/PandoraTrade/x64/Debug/PandoraTrader.tlog/link.read.1.tlog
/x64/Debug/PandoraStrategy.lib
/PandoraStrategy/x64/Debug/PandoraStrategy.log
/PandoraTrade/x64/Debug/PandoraDemoStrategyTrader.obj
/PandoraTrade/x64/Debug/vc143.idb
/PandoraTrade/x64/Debug/vc143.pdb
/x64/Debug/PandoraStrategy.pdb
/x64/Debug/PandoraStrategy.idb
