################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interface/MySql
/.vs/
/PandoraStrategy/x64/
/PandoraTrade/x64/
/x64/Debug/
\x64\Debug\
/PandoraTrade/his2025.db
/PandoraTrade/mydata.db
/PandoraStrategy/Utils.hpp
/x64/Debug/PandoraTrader.pdb
/x64/Debug/Trade/1/QueryRsp.con
/x64/Debug/Trade/1/DialogRsp.con
/PandoraTrade/x64/Debug/PandoraTrader.log
/PandoraTrade/x64/Debug/PandoraTrader.tlog/link.read.1.tlog
/x64/Debug/PandoraStrategy.lib
/PandoraStrategy/x64/Debug/PandoraStrategy.log
/PandoraTrade/x64/Debug/PandoraDemoStrategyTrader.obj
/PandoraTrade/x64/Debug/vc143.idb
/PandoraTrade/x64/Debug/vc143.pdb
/x64/Debug/PandoraStrategy.pdb
/x64/Debug/PandoraStrategy.idb
/PandoraStrategy/x64/Debug/PandoraStrategy.tlog/CL.read.1.tlog
/x64/Debug/Quotes/1/TradingDay.con
/x64/Debug/Trade/1/Private.con
/x64/Debug/Trade/1/Public.con
/x64/Debug/Instrument.xml
/x64/Debug/Trade/1/TradingDay.con
/PandoraStrategy/x64/Debug/sqlite3.obj
/PandoraStrategy/x64/Debug/PandoraStrategy.tlog/CL.command.1.tlog
/PandoraStrategy/x64/Debug/PandoraStrategy.tlog/Cl.items.tlog
/PandoraStrategy/x64/Debug/PandoraStrategy.tlog/Lib.command.1.tlog
/PandoraStrategy/x64/Debug/PandoraStrategy.tlog/PandoraStrategy.lastbuildstate
/PandoraStrategy/x64/Debug/PandoraStrategy.tlog/CL.write.1.tlog
