################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interface/MySql
/.vs/PandoraTrader
/PandoraStrategy/x64
/PandoraTrade/x64
/x64/Debug
/PandoraTrade/his2025.db
